body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0059ff;
    transition: background-color 0.3s, color 0.3s;
}

.title {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border: solid 5px black;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.form-section, .search-section, .list-section {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    border: solid 7px black;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 5px solid #000000;
    border-radius: 4px;
}

.form-button {
    background-color: #1e00ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #275ad1;
}

#filmList {
    list-style-type: none;
    padding: 0;
}

#filmList li {
    background: #e9ecef;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.dark-mode {
    background-color: #070068;
    color: #ffffff;
}

.dark-mode .form-section, .dark-mode .search-section, .dark-mode .list-section {
    background: #1e1e1e;
    border: solid 7px #444;
}

.dark-mode .form-input {
    background: #8a8a8a;
    color: #fff;
    border: 5px solid #888;
}

.dark-mode .form-button {
    background-color: #3f51b5;
}

.dark-mode .form-button:hover {
    background-color: #1e88e5;
}