body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4000ff;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border: solid 5px black;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.form-section, .search-section, .list-section {
    background:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    border: solid 7px black;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 5px solid #000000;
    border-radius: 4px;
}

form button {
    background-color: #1e00ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #275ad1;
}

#filmList {
    list-style-type: none;
    padding: 0;
}

#filmList li {
    background: #e9ecef;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}
